body{
  background-image: url('https://res.cloudinary.com/cloudinarybysp/image/upload/v1713971867/noicebg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: optimizeSpeed;
}
